@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: darkblue;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    @apply w-[12px];
    scrollbar-width: thin;
        scrollbar-color: darkblue;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: darkblue;
    border-radius: 14px;
    border: 2px solid #0059ff;
}

form input[type='text'] {
    box-sizing: content-box;
    width: 100%;
}

@tailwind components;
@tailwind utilities;

@layer components {
    /* Style for tabs */
        .tab {
            @apply overflow-hidden border-b-2
        }
    
        /* Tab buttons */
        .tab-button {
            @apply bg-gray-50 cursor-pointer px-4 py-2 text-blue-600;
        }
    
        /* Active/current tab */
        .tab-button.active {
            @apply border-r-0 border-t-0 border-l-0 border-b-4 border-blue-600;
        }
    
        /* Tab content */
        .tabcontent {
            @apply hidden p-3;
        }
    
        .tabcontent.active {
            @apply block;
        }
}