{% extends "layout.html" %}
{% block title %}Edit Profile - Vichar Sagar{% endblock title %}
{% block content %}
    <div class="container mx-auto px-4 py-5 min-h-screen">
        <div class="flex flex-col gap-2 mb-2">
            {% if success_message %}
                <span class="p-4 rounded-md bg-green-100 text-green-700">✅ {{success_message}}</span>
            {% endif %}
            {% if error_message %}
                <span class="p-4 rounded-md bg-red-100 text-red-700">❌ {{error_message}}</span>
            {% endif %}
        </div>
        <form method="POST" class="shadow-lg p-5 flex flex-col items-start gap-5" enctype="multipart/form-data>
            <h1 class="text-3xl">Edit Profile</h1>
            {% csrf_token %}
            {{form.as_div}}
            <button type="submit" class="py-2 px-5 bg-blue-600 text-white rounded-md">Save Changes</button>
        </form>
    </div>
{% endblock content %}