{% extends "layout.html" %}
{% block title %}Home - Vichar Sagar{% endblock title %}
{% block content %}
    <div class="container mx-auto px-4 py-5 min-h-screen">
        <div class="flex flex-col md:flex-row gap-4">
            <div class="md:w-3/4 border-r-2 overflow-y-scroll">
                <main class="">

                    {% comment %} Topics Slider {% endcomment %}
                    <div class="flex overflow-x-scroll overflow-y-hidden items-center gap-2 py-2 my-5">
                         {% for topic in topics %}
                                <span class="bg-gray-100 text-black py-2 px-3 rounded-full text-sm">{{topic.topicName}}</span>
                            {% endfor %}
                    </div>

                    {% comment %} Tabs Section {% endcomment %}
                    <!-- Tab navigation buttons -->
                    <div class="tab">
                        <button class="tablinks tab-button" onclick="openTab(event, 'Tab1')">Articles</button>
                        <button class="tablinks tab-button" onclick="openTab(event, 'Tab2')">Reading lists</button>
                    </div>

                    <!-- Tab content (use Jinja to populate these) -->
                    <div id="Tab1" class="tabcontent active">
                        {% if articles %}
                        <div class="flex-col flex gap-5">
                            {% for article in articles %}
                                <div class="flex w-full justify-between items-center p-5 border-b-2 hover:bg-gray-50" id="article-card">
                                    <div>
                                        <div class="flex items-center gap-3 mb-2">
                                            {% if article.author.profile.pfp.url %}
                                                <img class="w-8 aspect-1 rounded-full" src="{{article.author.profile.pfp.url}}" alt="{{article.author}}">
                                                {% else %}
                                                <span class="w-8 aspect-1 rounded-full bg-gradient-to-b from-gray-50 to-gray-900"></span>
                                            {% endif %}
                                            <span>{{article.author}}</span>
                                        </div>
                                        <a href="/vicharsagar/article/{{article.id}}">
                                            <h3 class="text-3xl mb-2">{{article.articleTitle}}</h3>
                                        </a> 
                                        {% comment %} <p class="text-ellipsis overflow-hidden h-7 w-[90%]">{{article.content}}</p> {% endcomment %}
                                        <div class="flex flex-wrap gap-2 my-2">
                                            {% for at_topic in article.topics.all %}
                                                <span class="bg-gray-100 text-black py-2 px-3 rounded-full text-sm">{{at_topic.topicName}}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="flex w-full items-center gap-5">
                                            <span>{{article.publishedDate}}</span>
                                            <button>
                                                <i class="bi bi-heart text-red-500"></i>
                                                {{article.likes_count}}
                                            </button>
                                            <button><i class="bi bi-chat"></i> {{article.comments_count}}</button>
                                        </div>
                                    </div>
                                    {% if article.articleImage %}
                                    <img src="{{article.articleImage.url}}" alt="{{article.articleTitle}}" class="object-cover rounded-md h-[140px] origin-center" />
                                    {% endif %}
                                </div>
                                {% endfor %}
                            {% else %}
                            <div class="w-full flex flex-col items-center justify-center gap-2 py-4">
                                <img src="../../../media/empty.png" alt="empty state">
                                <h3 class="text-xl">No Articles Found!</h3>
                                <p>start creating Articles and share your stories with everyone.</p>
                                <a href="/vicharsagar/article/create"><button class="bg-blue-500 text-white py-2 px-4 rounded-md flex items-center gap-2 shadow-md">create article<i class="bi bi-plus-circle text-2xl"></i></button></a>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                    <div id="Tab2" class="tabcontent">
                        {% if lists %}
                            {% for list in lists %}
                                <div class="py-3 border border-b-2 border-0 px-2 flex items-end justify-between hover:bg-gray-50">
                                    <div>
                                        <div class="flex items-center gap-2 mb-2">
                                            {% if user.profile.pfp.url %}
                                                <img class="w-8 aspect-1 rounded-full" src="{{list.user.profile.pfp.url}}" alt="{{list.listDescription}}">
                                                {% else %}
                                                <span class="w-8 aspect-1 rounded-full bg-gradient-to-b from-gray-50 to-gray-900"></span>
                                            {% endif %}
                                            <p>{{list.user}}</p>
                                        </div>
                                        <h3 class="text-3xl"><a href="/vicharsagar/list/{{list.id}}">{{list.listDescription}}</a></h3>
                                    </div>
                                    <i class="bi bi-arrow-up-right font-3xl"></i>
                                </div>
                            {% endfor %}
                            {% else %}
                            <div class="w-full flex flex-col items-center justify-center gap-2 py-4">
                                <img src="../../../media/empty.png" alt="empty state">
                                <h3 class="text-xl">No Lists Found!</h3>
                                <p>start creating lists and share your fav stories with everyone.</p>
                                <a href="/vicharsagar/list/create"><button class="bg-blue-500 text-white py-2 px-4 rounded-md flex items-center gap-2 shadow-md">create list<i class="bi bi-plus-circle text-2xl"></i></button></a>
                            </div>
                        {% endif %}

                    </div>
                    
                </main>
            </div>
            <div class="md:w-1/4">
                <aside>
                    <div>
                        <h3 class="text-xl mb-4">Staff picked articles</h3>
                        {% for article in articles %}
                            <div class="mb-3">
                                <div class="flex items-center gap-3 mb-2">
                                    {% if article.author.profile.pfp.url %}
                                        <img class="w-8 aspect-1 rounded-full" src="{{article.author.profile.pfp.url}}" alt="{{article.author}}">
                                        {% else %}
                                        <span class="w-8 aspect-1 rounded-full bg-gradient-to-b from-gray-50 to-gray-900"></span>
                                    {% endif %}
                                    <span>{{article.author}}</span>
                                </div>
                                <h4 class="text-md font-semibold">{{article.articleTitle}}</h4>
                            </div>
                        {% endfor %}
                    </div>

                    <hr>
                    <div class="py-5">
                        <h3 class="text-xl pb-3">Topics to follow</h3>
                        <div class="flex flex-wrap gap-2">
                            {% for topic in topics %}
                                <span class="bg-gray-100 text-black py-2 px-3 rounded-full text-sm">{{topic.topicName}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="py-5">
                        <h3 class="text-xl">Writers to Follow</h3>
                        {% for user in users %}
                            <div class="w-full flex items-center justify-between mt-5">
                                <div class="flex items-center gap-2">
                                    {% if user.profile.pfp.url %}
                                        <img class="w-8 aspect-1 rounded-full" src="{{user.profile.pfp.url}}" alt="{{user}}">
                                        {% else %}
                                        <span class="w-8 aspect-1 rounded-full bg-gradient-to-b from-gray-50 to-gray-900"></span>
                                    {% endif %}
                                    <p class="font-semibold">{{user}}</p>
                                </div>
                                <button class="py-1 px-3 border-2 rounded-full shadow-sm">follow</button>
                            </div>
                        {% endfor %}
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <!-- JavaScript to toggle between tabs -->
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
    
            // Hide all tab content
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
    
            // Remove active class from all tabs
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
    
            // Show the clicked tab and add active class to the clicked button
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
{% endblock content %}