{% extends "layout.html" %}
{% block title %}Home - Vichar Sagar{% endblock title %}
{% block content %}
    <div class="container mx-auto px-4 py-5 min-h-screen">
        <div class="flex flex-col md:flex-row gap-4">
            <div class="md:w-3/4 border-r-2">
                <main>
                    {% comment %} <h1 class='text-6xl'>Human Stories & Thoughts</h1>
                    <h4 class='text-xl'>A Place to read, write and deepen your thoughts</h4>
                    <hr> {% endcomment %}
                    <div class="flex-col flex gap-5">
                        <div class="flex w-full justify-between items-center p-5 border-b-2" id="article-card">
                            <div>
                                <span>Taarak Mehta</span>
                                <h3 class="text-3xl mb-2">Chai ki chah me khade hain raah me.</h3>
                                <p>Jethalal is feeling the urge to have a cup tea but as Daya had to leave early...</p>
                                <div class="flex w-full items-center gap-5">
                                    <span>Aug 12</span>
                                    <span>👏 1860</span>
                                    <span>💬 6</span>
                                </div>
                            </div>
                            <div class="aspect-2 bg-gradient-to-br from-cyan-500 to-blue-600 w=[180px] h-[160px] rounded-md"></div>
                        </div>
                        <div class="flex w-full justify-between items-center p-5 border-b-2" id="article-card">
                            <div>
                                <span>Taarak Mehta</span>
                                <h3 class="text-3xl mb-2">Chai ki chah me khade hain raah me.</h3>
                                <p>Jethalal is feeling the urge to have a cup tea but as Daya had to leave early...</p>
                                <div class="flex w-full items-center gap-5">
                                    <span>Aug 12</span>
                                    <span>👏 1860</span>
                                    <span>💬 6</span>
                                </div>
                            </div>
                            <div class="aspect-2 bg-gradient-to-br from-cyan-500 to-blue-600 w=[180px] h-[160px] rounded-md"></div>
                        </div>
                        <div class="flex w-full justify-between items-center p-5 border-b-2" id="article-card">
                            <div>
                                <span>Taarak Mehta</span>
                                <h3 class="text-3xl mb-2">Chai ki chah me khade hain raah me.</h3>
                                <p>Jethalal is feeling the urge to have a cup tea but as Daya had to leave early...</p>
                                <div class="flex w-full items-center gap-5">
                                    <span>Aug 12</span>
                                    <span>👏 1860</span>
                                    <span>💬 6</span>
                                </div>
                            </div>
                            <div class="aspect-2 bg-gradient-to-br from-cyan-500 to-blue-600 w=[180px] h-[160px] rounded-md"></div>
                        </div>
                        <div class="flex w-full justify-between items-center p-5 border-b-2" id="article-card">
                            <div>
                                <span>Taarak Mehta</span>
                                <h3 class="text-3xl mb-2">Chai ki chah me khade hain raah me.</h3>
                                <p>Jethalal is feeling the urge to have a cup tea but as Daya had to leave early...</p>
                                <div class="flex w-full items-center gap-5">
                                    <span>Aug 12</span>
                                    <span>👏 1860</span>
                                    <span>💬 6</span>
                                </div>
                            </div>
                            <div class="aspect-2 bg-gradient-to-br from-cyan-500 to-blue-600 w=[180px] h-[160px] rounded-md"></div>
                        </div>
                    </div>
                </main>
            </div>
            <div class="md:w-1/4">
                <aside>
                    <div>Staff picked articles go here...</div>
                    <hr>
                    <div>Topics to follow go here...</div>
                    <hr>
                    <div>Other Writers to follow...</div>
                </aside>
            </div>
        </div>
    </div>
    {% comment %} <div>

        <main>Article listing goes here...</main>
        <aside>
            <div>Staff picked articles go here...</div>
            <hr>
            <div>Topics to follow go here...</div>
            <hr>
            <div>Other Writers to follow...</div>
        </aside>
    </div> {% endcomment %}
{% endblock content %}