{% extends "layout.html" %}
{% block title %}Login - Vichar Sagar{% endblock title %}
{% block content %}
    <div class="container mx-auto px-4 py-5 min-h-screen">
        <form action="" class="shadow-lg p-5 flex flex-col items-start gap-5">
            <h1 class="text-4xl">Login with your details</h1>
            <div class="w-full">
                <label for="username" class="block">Username / Email</label>
                <input type="text" name="username" id="username" class="min-w-full block border border-black focus:border-blue-600 focus:border-2 rounded-md">
            </div>
            <div class="w-full">
                <label for="password" class="block">Password</label>
                <input type="text" name="password" id="password" class="min-w-full block border border-black focus:border-blue-600 focus:border-2 rounded-md">
            </div>
            <input type="submit" value="login" class="py-2 px-5 bg-blue-600 text-white font-semibold rounded-md">
        </form>
    </div>
{% endblock content %}