{% extends "layout.html" %}
{% block title %}Profile - Vichar Sagar{% endblock title %}
{% block content %}
    <div class="container mx-auto px-4 py-5 min-h-screen">
        <div class="md:w-3/4">
            {% if user.is_authenticated %}
                <h1 class="text-4xl">Hello {{user.username}}</h1>
                <button class="py-2 px-5 bg-blue-600 text-white rounded-md"><a href="/edit-profile">Edit Profile</a></button>
            {% else %}
                <span class="p-4 rounded-md bg-red-100 text-red-700">❌ {{message}}</span>
            {% endif %}
            <hr>
            {% if user_articles %}
                {% for article in user_articles %}
                    <p>{{article.title}}</p>
                {% endfor %}
                {% else %}
                    <h2 class="text-2xl">No articles are authored by you!</h2>
                    <p>write your first article and join the tortured poet's department</p>
                    <button class="py-2 px-5 bg-blue-600 text-white rounded-md">Write an article</button>
            {% endif %}
        </div>
        <div class="md:w-1/4">
            <div class="bg-gradient-to-br from-purple-500 to-pink-500 rounded-full w-[100px] h-[100px]"></div>
            <h3>{{user.username}}</h3>
            <span>followers</span>
            <span>following</span>

        </div>
    </div>
{% endblock content %}